.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#003366;
position:sticky;
top:0;
}

.navbar h2{
color:white;
}

.menu a{
color:white;
text-decoration:none;
margin-left:25px;
font-size:18px;
}

.menu a:hover{
color:gold;
}
